In [1]:
print("hellow world")

hellow world

In [45]:
import pandas as pd
import pymysql
from sqlalchemy import create_engine
import psycopg2
import cryptography

In [5]:
print(pd.__version__)

2.3.0

In [8]:
df = pd.read_csv('data\Walmart.csv',encoding_errors='ignore')

df.shape

<>:1: SyntaxWarning: invalid escape sequence '\W'
<>:1: SyntaxWarning: invalid escape sequence '\W'
C:\Users\hp\AppData\Local\Temp\ipykernel_30172\275574662.py:1: SyntaxWarning: invalid escape sequence '\W'
  df = pd.read_csv('data\Walmart.csv',encoding_errors='ignore')

(10051, 11)

In [9]:
df.head()

,invoice_id,Branch,City,category,unit_price,quantity,date,time,payment_method,rating,profit_margin
0,1,WALM003,San Antonio,Health and beauty,$74.69,7.0,05/01/19,13:08:00,Ewallet,9.1,0.48
1,2,WALM048,Harlingen,Electronic accessories,$15.28,5.0,08/03/19,10:29:00,Cash,9.6,0.48
2,3,WALM067,Haltom City,Home and lifestyle,$46.33,7.0,03/03/19,13:23:00,Credit card,7.4,0.33
3,4,WALM064,Bedford,Health and beauty,$58.22,8.0,27/01/19,20:33:00,Ewallet,8.4,0.33
4,5,WALM013,Irving,Sports and travel,$86.31,7.0,08/02/19,10:37:00,Ewallet,5.3,0.48

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10051 entries, 0 to 10050
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   invoice_id      10051 non-null  int64
 1   Branch          10051 non-null  object
 2   City            10051 non-null  object
 3   category        10051 non-null  object
 4   unit_price      10020 non-null  object
 5   quantity        10020 non-null  float64
 6   date            10051 non-null  object
 7   time            10051 non-null  object
 8   payment_method  10051 non-null  object
 9   rating          10051 non-null  float64
 10  profit_margin   10051 non-null  float64
dtypes: float64(3), int64(1), object(7)
memory usage: 863.9+ KB

In [17]:
#all duplicate
df.duplicated().sum()

np.int64(0)

In [16]:
df.drop_duplicates(inplace=True)

In [27]:
df.shape

(9969, 11)

In [21]:
df.isnull().sum()

invoice_id        0
Branch            0
City              0
category          0
unit_price        0
quantity          0
date              0
time              0
payment_method    0
rating            0
profit_margin     0
dtype: int64

In [20]:
#dropping all rows with missing records
df.dropna(inplace=True)

In [26]:
df.dtypes

invoice_id          int64
Branch             object
City               object
category           object
unit_price        float64
quantity          float64
date               object
time               object
payment_method     object
rating            float64
profit_margin     float64
dtype: object

In [25]:
df['unit_price']=df['unit_price'].str.replace('$','').astype(float)

In [28]:
df.head()

,invoice_id,Branch,City,category,unit_price,quantity,date,time,payment_method,rating,profit_margin
0,1,WALM003,San Antonio,Health and beauty,74.69,7.0,05/01/19,13:08:00,Ewallet,9.1,0.48
1,2,WALM048,Harlingen,Electronic accessories,15.28,5.0,08/03/19,10:29:00,Cash,9.6,0.48
2,3,WALM067,Haltom City,Home and lifestyle,46.33,7.0,03/03/19,13:23:00,Credit card,7.4,0.33
3,4,WALM064,Bedford,Health and beauty,58.22,8.0,27/01/19,20:33:00,Ewallet,8.4,0.33
4,5,WALM013,Irving,Sports and travel,86.31,7.0,08/02/19,10:37:00,Ewallet,5.3,0.48

In [29]:
df ['total'] = df ['quantity'] * df ['unit_price']

In [31]:
df.head()

,invoice_id,Branch,City,category,unit_price,quantity,date,time,payment_method,rating,profit_margin,total
0,1,WALM003,San Antonio,Health and beauty,74.69,7.0,05/01/19,13:08:00,Ewallet,9.1,0.48,522.83
1,2,WALM048,Harlingen,Electronic accessories,15.28,5.0,08/03/19,10:29:00,Cash,9.6,0.48,76.40
2,3,WALM067,Haltom City,Home and lifestyle,46.33,7.0,03/03/19,13:23:00,Credit card,7.4,0.33,324.31
3,4,WALM064,Bedford,Health and beauty,58.22,8.0,27/01/19,20:33:00,Ewallet,8.4,0.33,465.76
4,5,WALM013,Irving,Sports and travel,86.31,7.0,08/02/19,10:37:00,Ewallet,5.3,0.48,604.17

ModuleNotFoundError: No module named 'sqlalchemy'

ModuleNotFoundError: No module named 'sqlalchemy'

In [ ]:
# mysql=
# host="localhost"
# port=3306
# user="root"
# password="Aadarsh#@3419"

In [39]:
df.shape

(9969, 12)

In [41]:
df.to_csv('Walmart _clean_data.csv',index=False)

In [52]:
from sqlalchemy import create_engine

# Use 127.0.0.1 instead of localhost + URL-encoded password
engine_mysql = create_engine("mysql+pymysql://root:Aadarsh%23%403419@127.0.0.1:3306/walmart_project")

try:
    connection = engine_mysql.connect()
    print("✅ Connection succeeded to MySQL")
except Exception as e:
    print("❌ Unable to connect:", e)

✅ Connection succeeded to MySQL

In [53]:
df.to_sql(name='walmart',con=engine_mysql,if_exists ='append',index=False)

9969

In [10]:
import turtle as tur
import colorsys as cs

tur.setup(800,800)
tur.speed(0)
tur.tracer(10)
tur.width(2)
tur.bgcolor("black")

n = 15  

for j in range(25):
    for i in range(n):
        color = cs.hsv_to_rgb(i / n, 1.0, 1.0)
        tur.color(color)
        tur.right(90)
        tur.circle(200 - j * 4, 90)
        tur.left(90)
        tur.circle(200 - j * 4, 90)
        tur.right(180)
        tur.circle(50, 24)

tur.hideturtle()
tur.done()